*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
     /* background-color: #222629;  */
     font-family: 'Roboto', Arial, Helvetica, sans-serif;
     font-size: large;
     /* padding: 100px 100px 100px 100px; */
     
    } 
    
    
    .margin-bottom{
        margin-bottom: 28px;
    }
    
    .main-container{
     /* margin: 25vh 25vh; */
    
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    place-items: center;
    /* border-style: solid;
    border-width: 2px; */
}

.left-container{
    font-size:bolder;
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    font-weight: 500; 
}

.left-section{
    width: 548.312px;
    /* padding: 100px; */
    /* border: 2px solid #d30e0e; */
}

.make-small{
    font-size: 1rem;
    font-weight: 500;
}

.hr-div{
    display: flex;
    flex-direction: row;
}

.checkbox-group{
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    justify-content: space-between;
    /* background-color: #4a4a4a; */
    margin-bottom: 32px;
}

a{
    color: #000000;
}

input {
    border: none;
    border-bottom: 2px solid #000000;
    background-color: #F7F7F7;

}

button{
    padding: 16px 16px;
    border: 1px solid;
    border-radius: 5px;
}

.center{
    
    display: flex;
    flex-direction: column;
    align-items: center
}

.white{
    color: #000000;
    background-color: #F7F7F7;

}

.black{
    color: #F7F7F7;
    background-color: #000000;

}

.top-right-corner{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 32px;
    margin-left: 180px;
    /* left: 50%; */
    
}
form{
    display: flex;
    flex-direction: column;
}

.right-container{
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #6B728E; */
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: center; */
    background-size: 100% auto;
    color: #F7F7F7;
    /* gap: 32px; */
    background-image: url("https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    position: relative;
}

.right-section{
    /* border: 2px solid #F7F7F7; */
    /* display: grid;
    place-items: center; */
    /* width: 100%; */
    /* filter: blur(3px); */
    /* background-color: aqua; */
    /* padding: 32px 32px; */
    /* margin: 32px; */
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left:    100px; */
}

.glass{
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #F2F5FA;
    height: 17.5vh;
    margin-top: 332px;
    background-color: rgba(242, 245, 250, 0.452);
    backdrop-filter: blur(4px); 
    /* box-shadow: 10px 10px 10px rgba(30,30,30,0.5); */
}

.narcissim{
    font-size: 2.5em;
    width: inherit;
    margin-top: 614px;
    /* background-color: aqua; */
    /* opacity: 0.5; */
    
    /* margin-top: 320px; */

}

.gap-below{
    margin-bottom: 32px;
    border: 2px solid gold;
}

.bottom-right-corner{
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    justify-content: space-between;
}

.last{
    display: flex;
    flex-direction: column;
}

.circle-div{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    row-gap: 16px;
    justify-content: space-between;

}

.circular{
    
    background-color: transparent;
    /* opacity: 0.5; */
    border: 2px solid #F7F7F7;
    border-radius: 50%;
    /* box-sizing: border-box; */
}

.title-area{
    /* display: flex;
    flex-direction: column; */

}

